<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log.file.name" value="icon_server.log" />
	<property name="log.file.name.error" value="icon_server_error.log" />
	<property name="log.dir" value="/Users/byounggulkwon/git/iconsdk-explorer/backend/logs" />

	<property name="scheduleLog.file.name" value="icon_server_schedule.log" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy:MM:dd HH:mm:ss.SSS,Asia/Seoul} %-5level --- [%thread]%logger{35} : %msg %n</pattern>
		</encoder>
	</appender>

	<!-- Application Loggers -->
	<appender name="dailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/${log.file.name}</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>${log.dir}/${log.file.name}.%d{yyyy-MM-dd}
			</FileNamePattern>
			<!-- keep 10 days' worth of history -->
			<maxHistory>20</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		
		<encoder>
			<pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS,Asia/Seoul} [%thread] %-5level%logger{36}: %M %L - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="dailyRollingFileAppenderError"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/${log.file.name.error}</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>${log.dir}/${log.file.name.error}.%d{yyyy-MM-dd}
			</FileNamePattern>
			<maxHistory>20</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS,Asia/Seoul} [%thread] %-5level%logger{36}: %M %L - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Schedule Loggers -->
	<appender name="dailyRollingFileAppenderSchedule"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/${scheduleLog.file.name}</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>${log.dir}/${scheduleLog.file.name}.%d{yyyy-MM-dd}
			</FileNamePattern>
			<!-- keep 10 days' worth of history -->
			<maxHistory>20</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<encoder>
			<pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS,Asia/Seoul} [%thread] %-5level%logger{36}: %M %L - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="ScheduleLogger" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="dailyRollingFileAppenderSchedule" />
	</logger>

	<logger name="java.sql.Statement">
		<level value="INFO" />
	</logger>
	<logger name="java.sql.PreparedStatement">
		<level value="INFO" />
	</logger>
	<logger name="java.sql.CallableStatement">
		<level value="INFO" />
	</logger>
	<logger name="java.sql.ResultSet">
		<level value="INFO" />
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="dailyRollingFileAppender" />
		<appender-ref ref="dailyRollingFileAppenderError" />
	</root>
</configuration>